.wrapper {
  max-width: 80%;
  margin: 0 auto;
}
.install-h1 {
font-size: 20px;
font-weight: 800;
line-height: .8;
text-align: center;
}
.box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 10px 10px 10px 10px;
}
.img-block {
  margin: 10px 20px 10px 20px;
  position: relative;
}
.pales {
  position: absolute;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}
.pales1 {
  margin: 220px 0px 0px 82px;
  animation-name: move1;
}
@keyframes move1 {
  100% {
    margin-top: 140px;
  }
}
.pales2 {
  margin: 50px 0px 0px 40px;
  animation-name: move2;
}
@keyframes move2 {
  100% {
    margin-left: 90px;
  }
}
.pales3 {
    margin: 218px 0px 0px 209px;
    animation-name: move3;
  }
  @keyframes move3 {
    100% {
      margin-top: 100px;
    }
  }
  .pales4 {
    margin: 218px 0px 0px 84px;
    animation-name: move4;
  }
  @keyframes move4 {
    100% {
      margin-top: 150px;
    }
  }
  .pales5 {
    margin: 218px 0px 0px 180px;
    animation-name: move5;
  }
  @keyframes move5 {
    100% {
      margin-top: 100px;
    }
  }
  .pales6 {
    margin: 400px 0px 0px 24px;
    animation-name: move6;
  }
  @keyframes move6 {
    100% {
      margin-top: 315px;
    }
  }
  .pales7 {
    margin: 507px 0px 0px 120px;
    animation-name: move7;
  }
  @keyframes move7 {
    100% {
      margin-top: 460px;
    }
  }
  .pales8 {
    margin: 150px 0px 0px 230px;
    animation-name: move8;
  }
  @keyframes move8 {
    100% {
      margin-top: 50px;
    }
  }
  .pales9 {
    margin: 218px 0px 0px 15px;
    animation-name: move9;
  }
  @keyframes move9 {
    100% {
      margin-top: 144px;
    }
  }
  .pales10 {
    margin: 127px 0px 0px 16px;
    animation-name: move10;
    animation-duration: 5s;
  }
  @keyframes move10 {
    100% {
      transform: rotate(2000deg);
    }
  }
  .pales11 {
    margin: 209px 0px 0px 0px;
    animation-name: move11;
    width: 0%;
  }
  @keyframes move11 {
    100% {
     width: 100%;
    }
  }