.wrapper {
    max-width: 80%;
    margin: 0 auto;
}
h1 {
    color: rgb(189, 109, 109);
}
.box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px 10px 10px 10px;
}
.img-block {
    margin: 10px 20px 10px 20px;
    position: relative;
}
.pales {
    position: absolute;
    margin: 220px 0px 0px 82px;
    animation-name: move;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}
@keyframes move  {
100% {
    margin-top: 140px;
}
}