.wrapper {
  max-width: 80%;
  margin: 10px auto;
  text-align: center;
}
 h1 {
   margin-bottom: 10px;
 }
  h2 {
    margin: 0;
  }
  .box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px 10px 10px 10px;
  }
  .img-block {
    margin: 10px 20px 10px 20px;
    position: relative;
  }
  .pales {
    position: absolute;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
  }
  .pales1 {
    margin: 440px 0px 0px 82px;
    animation-name: move1;
  }
  @keyframes move1 {
    100% {
      margin-top: 360px;
    }
  }
  .pales2 {
    margin: 400px 0px 0px 134px;
    animation-name: move2;
  }
  @keyframes move2 {
    100% {
      margin-top: 300px;
    }
  }

  @media (max-width: 414px) {
    h1 {
        font-size: 22px;
        font-weight: 800;
        line-height: 1.3;
        text-align: center;
    }
  }